@model BanglarBir.ViewModels.ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}

<style>
    .loginButton {
        color: #ffffff;
        background-color: #ff4d4d;
        border-color: #ff4d4d;
    }
</style>

<h2>Forgot Password</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label asp-for="EmailOrPhone" class="form-label"></label>
        <input asp-for="EmailOrPhone" class="form-control" />
        <div class="form-text text-danger">
            <span asp-validation-for="EmailOrPhone"></span>
        </div>
    </div>
    <button type="submit" class="btn loginButton">Submit</button>
</form>
